# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.iml
.idea/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
hs_err_pid*.log
